{{!< default}}

{{#post}}
  <progress class="reading-progress-bar"></progress>

  <article class="{{post_class}}">
    <section class="section is-relative">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title is-underlined is-relative is-inline-block dark"><strong>{{title}}</strong></h1>
            <p>Reading time: {{reading_time minute="Only a minute" minutes="Takes % minutes"}}</p>
            <div class="columns">
              <div class="column">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                  Posted on {{date format="DD MMMM YYYY"}}
                </time>
                {{tags prefix=" in "}}
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            {{content}}
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <script>
    const readingProgress = (contentArea, progressBar) => {
      const content = document.querySelector(contentArea);
      const progress = document.querySelector(progressBar);

      const frameListening = () => {
          const contentBox = content.getBoundingClientRect();
          const midPoint = window.innerHeight / 2;
          const minsRemaining = Math.round(progress.max - progress.value);

          if (contentBox.top > midPoint) {
              progress.value = 0;
          }

          if (contentBox.top < midPoint) {
              progress.value = progress.max;
          }

          if (contentBox.top <= midPoint && contentBox.bottom >= midPoint) {

              progress.value =
                  (progress.max * Math.abs(contentBox.top - midPoint - 75)) /
                  contentBox.height;
          }

          window.requestAnimationFrame(frameListening);
      };

      window.requestAnimationFrame(frameListening);
  };

  readingProgress("article", ".reading-progress-bar");
  </script>

{{/post}}